.sideBar {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    background-color: rgb(255, 255, 255);

    position: sticky;
    top: 0;
    z-index: 1;
    -webkit-user-select: none;

    min-width: 70px;
    transition: min-width 0.05s ease-out;

    &.open {
        min-width: 200px;
    }

    .top-container {
        overflow: auto;
        // scroll-behavior: smooth;

        .header {
            border-bottom: 1px solid var(--my-grey-10);
            height: 80px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            // padding: 10px;
            position: sticky;
            top: 0;
            background-color: rgb(255, 255, 255);

            .btnSideBar {
                border-radius: 50%;
                padding: 4px;

                &:hover {
                    background-color: var(--my-button-hover-color);
                    cursor: pointer;
                }
            }

        }


        .link {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 5px 20px 5px 20px;
            margin: 5px 5px;
            border-radius: 5px;
            height: 35px;

            svg {
                height: 19px;
                width: 19px;
                stroke-width: 1.5;
            }

            span {
                margin-left: 10px;
            }

            &:hover {
                background-color: var(--my-button-hover-color);
                transition: 0.2s;
            }

            &.active {
                background-color: var(--my-button-active-color);
            }
        }
    }

    .bottom-container {
        // background-color: white;
        border-top: 1px solid var(--my-grey-10);
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        
        .link {
            padding: 10px 20px;
            display: flex;
            text-decoration: none;
            width: 100%;
            height: 100%;

            &:hover {
                background-color: var(--my-button-hover-color);
            }

            span {
                margin-left: 10px;
            }
        }
    }

}

@media screen and (max-width : 600px) {
    .sideBar {
        display: none
    }
}