@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}



.chartHeader {
  border-bottom: 1px solid rgba(128, 128, 128, 0.399);
}

.orderPage {
  .chartContainer {
    margin: 3px;
    box-shadow: 0.1px 0.1px 2px grey;
    border-radius: 5px;
    /* min-width: 90%; */
    width: 45%;
    background-color: white;

    .chartHeader {
      * {
        border-radius: 0;
      }

      :first-child {
        border-radius: 5px 0px 0px 0px;
      }

      :last-child {
        border-radius: 0px 5px 0px 0px;
      }
    }

    .chartCanva {
      overflow: auto;
      overflow-x: hidden;
      height: 400px;
      /* display: inline-flex; */
      /* .pieChart,
      .lineChart,
      .barChart {
        /* background-color: red; */
      /* display: flex; */
      /* }  */

      /* .pieChart {
        background-color: red;
        height: 400px;
        contain: content;
      } */
       canvas {
        height: 100% !important;
        /* width: 100% !important; */
       }
    }



    .table {
      thead {
        position: sticky;
        top: 0;
        background-color: rgb(240, 240, 240);
      }
    }
  }
}


.page {
  border-radius: 5px;
  background-color: rgba(180, 180, 180, 0.3);
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* background-color: white; */
}



* {
  /* background: url(public/background/jvTeRgjFsp66xj8SWxhr7O2J4ud.webp); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  --primary-color: white;
  ---appBar-height: 60px;
  --my-grey-10: rgb(221, 221, 221);
  --my-blue-dark: rgb(6, 6, 47);
  --my-button-hover-color: rgba(30, 30, 30, 0.062);
  --my-button-active-color: rgba(0, 110, 255, 0.25);

  /* --primary-color : rgb(6, 6, 47) */
  &:focus {
    outline: none;
  }
}

@media screen and (max-width : 600px) {
  .chartContainer {
    min-width: 100%;
    margin: 2px 0px 2px 0px;
  }
}